/* custom-tree.css */
.node__root > circle {
  fill: red;
}

.node text {
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  fill: black;
  color: white;

}

.node__branch > circle {
  fill: yellow;
}

.node__leaf > circle {
  fill: #0a29c5;
  /* Let's also make the radius of leaf nodes larger */
  r: 40;
}
